@tailwind utilities;

/* Reset some default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  margin: 0;
}

/* Set global font and dark background */
body {
  font-family: "Roboto", sans-serif;
  background-color: #d5efff9a;
  color: #e0e0e0;
  line-height: 1.5;
  /* min-height: 100vh; */
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Style scrollbars for modern look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid #1a1a1a;
}

/* Optional: Page transition smoothness */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
